
doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet" href="/main.css" type="text/css")
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/js/login.js')
		title Winter
	body
		div(class="body")
			div(class="user-div")
				form(id='name_panel', class="login-div", class="snow-border",method="post",action="log/login")
					h1 Login
					input(placeholder='user',  name="username" type="text", class="snow-border")
					input(placeholder='password', name="password", type="text", class="snow-border")
					input(class="snow-border", type="submit")
		a(href='register') Register

