
doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet" href="/main.css" type="text/css")
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/js/login.js')
		title Winter
	body
		div(class="body")
			div(class="user-div")
				div(id='name_panel', class="login-div", class="snow-border")
					h1 Login
					input(placeholder='user', id='user_input', name="username" type="text", class="snow-border")
					input(placeholder='password', id="password_input", name="password", type="text", class="snow-border")
					button(class="snow-border", id='login_btn') Login
		a(href='register') Register

